.overall-title {
    font-weight: 800;
    font-size: 48px;
}

.website-link {
    color: #057193;
    font-weight: 500;

}

.social-link, .social-link:hover {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.body-item { 
    margin: 1em 0;
}

.body-title {
    color: #15B4BE;
    font-weight: bold;
    font-size: 24px;
}

.body-date {
    color: #656262;
    font-size: 15px;
    font-weight: 500;
}

.secondary-title {
    font-weight: 600;
    font-size: 24px;
}

.secondary-position {
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 2px;
}

.body-secondary-text {
    font-size: 18px;
    font-weight: 500;
    margin-left: 1em;
}

.body-third-text {
    color: #656262;
    font-weight: 500;
}