@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f9f9f9; /* Light background to match resume style */
  color: #1a1a1a;
}
  /* Ensure full content fits on one page */
/* .page-container {
  max-height: 100vh;
  overflow: hidden;
  page-break-inside: avoid;
} */
